/* PARTE DI HEADER E FOOTER IN COMUNE */

  /* logo */
.logo img {
  height: 60px; 
  margin-left: 35px;
}

.navbar { 
  width: 100%;
  margin: 0px auto;
  padding: 2px;  
}

.navbar-toggler-icon {
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

.navbar-brand {
    border-right: 2px solid #2D2727;
}

a.nav-link, a.navbar-brand {
    font-family: 'RocknRoll One', sans-serif;
    color: #F0EB8D;          
    padding: 10px 5px;
    margin-right: 60px;
}

.navbar-brand img {
  margin-right: 15px; 
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
}

.navbar-nav .nav-item {
  flex: 1;
  text-align: center;
}

button.navbar-toggler {
    color:#F0EB8D;
}

footer {
  padding: 30px 0;
}

.piede {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px 0 60px; /* modificare i 50 px per la distanza della lista */
}

.piede_item {
  margin-bottom: 20px;
  align-items: left;
  padding-right: 140px; /* modificare i 100 px per la distanza della lista */
}

.piede_item h5, .social-icons h5 {
  color: #F0EB8D;
  font-family: 'RocknRoll One', sans-serif;
  font-size: 14px;
}

.piede_item ul {
  list-style: none;
  padding: 0;
}

.piede_item a {
  color: #ddd;
  text-decoration: none;
}

.piede_item li {
  font-size: 13px;
}

.social-icons {
  display: flex;
  margin-bottom:20px;
}

.social-icons a {
  font-size: 20px;
  color: #ddd;
}

.social-icons img {
  padding-right: 10px;
  width: 35px;
  height: auto;
}

  /* FINE PARTE DI HEADER E FOOTER */
  
  body {
    background: #EEEEEE;
  }

  a {
    text-decoration: none;
  }
  /* SEZIONE IMMAGINI */
  .immagini {
    float:left;
  }

    /* Carousel */
  #demo {
    max-width: 100%;
  }

  .carousel-item {
    height: 350px;
  }

  .carousel-caption a {
    color: white;
    text-decoration: none;
  }

  .carousel-caption {
    background-color: rgba(29, 29, 29, 0.4);
  }

    /* Statica */
  /* #img_static {
    float:left;
  } */

  .img_nuovi, .img_usato {
    width: 240px;
    height: auto;
  }

  /* EVIDENZA */

  /* NOVITA' */

  /* USATO */

  

