/* PARTE DI HEADER E FOOTER IN COMUNE */

  /* logo */
.logo img {
  height: 60px; 
  margin-left: 35px;
  margin-top: 20px;
}

/* pulsanti in alto */
.btn-outline-secondary {
  /* padding-left: 30px; */
  border: none;
}

.btn-group-toggle .btn {
  color: #EEEEEE;
}

.navbar { 
  width: 100%;
  margin: 0px auto;
  padding: 2px;  
}

.navbar-toggler-icon {
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

.navbar-brand {
    border-right: 2px solid #2D2727;
}

a.nav-link, a.navbar-brand {
    font-family: 'RocknRoll One', sans-serif;
    color: #F0EB8D;          
    padding: 10px 5px;
    margin-right: 60px;
}

.navbar-brand img {
  margin-right: 15px; 
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
}

.navbar-nav .nav-item {
  flex: 1;
  text-align: center;
}

button.navbar-toggler {
    color:#F0EB8D;
}

footer {
  padding: 30px 0;
  background-color: #413543;
}

.piede {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px 0 60px; /* modificare i 50 px per la distanza della lista */
}

.piede_item {
  margin-bottom: 20px;
  align-items: left;
  padding-right: 140px; /* modificare i 100 px per la distanza della lista */
}

.piede_item h5, .social-icons h5 {
  color: #F0EB8D;
  font-family: 'RocknRoll One', sans-serif;
  font-size: 14px;
}

.piede_item ul {
  list-style: none;
  padding: 0;
}

.piede_item a {
  color: #ddd;
  text-decoration: none;
}

.piede_item li {
  font-size: 13px;
}

.social-icons {
  display: flex;
  margin-bottom:20px;
}

.social-icons a {
  font-size: 20px;
  color: #ddd;
}

.social-icons img {
  padding-right: 10px;
  width: 35px;
  height: auto;
}

  /* FINE PARTE DI HEADER E FOOTER */
  
  body {
    background: #EEEEEE;
  }

  a {
    text-decoration: none;
  }
  /* SEZIONE IMMAGINI */
  .immagini {
    float:left;
    margin-bottom: 20px;
  }

    /* Carousel */
/*   #demo {
    max-width: 100%;
  } */

  #demo .carousel-item {
    height: 375px;
  }

  .carousel-caption a {
    color: white;
    text-decoration: none;
  }

  .carousel-caption {
    background-color: rgba(29, 29, 29, 0.4);
  }

    /* Statica */
  #img_static {
    width: 300px;
  }

  .img_nuovi, .img_usato {
    width: 350px;
    height: auto;
    margin-left: -100px;
  }

  /* REGOLE GENERALI */
  .divisore {
    margin-top: 20px;
    margin-left: 80px;
    height:10px;
    width:80%;
  }

  /* ----- ANIMAZIONE CARD ------ */

  /*testo*/
  .line {
    text-align: center;
}

.line h2 {
  font-family:'RocknRoll One', sans-serif;
  font-size: 18px;
  text-align: center;
  color: #797979;
}

.slider-container {
  width: 90%;
  margin: 1px 1px 1px 30px;
  overflow: hidden;
  padding: 10px;
}

.slider {
  display: flex;
  /* Rimuovi la larghezza specifica e usa flex-wrap per gestire eventuali card aggiuntive */
  flex-wrap: nowrap;
  transition: transform 0.5s ease-in-out;
}

/* Three columns side by side */
.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* .card img {

} */

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #413543;
  text-align: center;
  cursor: pointer;
  width: 40%;
}

.button:hover {
  background-color: #8F43EE;
}

.bottoni {
  margin-top:10px;
  text-align: center;
}

.prev, .next {
  transform: translateY(-50%);
  background-color: #413543;
  color: white;
  border: none;
  padding: 1px 10px;
  cursor: pointer;
  border-radius: 5px;
}
  /* NOVITA' */

  /* USATO */

/* ---- RESPONSIVE ---- */



  

