<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
    
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/index.css" />
  <title>Music.toString() | Prenotazione</title>
  <link rel="shortcut icon" type="image/png" th:href="@{/images/icona-browser.png}" /> <!-- icona browser -->
    <!-- script file -->
  <script th:src="@{/js/index.js}"></script>

  <!-- JS per imm dinamiche -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS per scroll navbar top -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
          var navbar = $(".navbar");
  
          $(window).scroll(function () {
              if ($(this).scrollTop() > 50) {
                  navbar.addClass("fixed-top");
              } else {
                  navbar.removeClass("fixed-top");
              }
          });
      });
    
    //VALIDAZIONE E-MAIL
	function validate() {
    var emailInput = document.getElementById('email');
    var emailError = document.getElementById('emailError');
    var nomeInput = document.getElementById('nome');
    var nomeError = document.getElementById('nomeError');
    var cognomeInput = document.getElementById('cognome');
    var cognomeError = document.getElementById('cognomeError');

    // Espressioni regolari per verificare il formato dell'email, del nome e del cognome
    var emailRegex = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}$/;
    var nomeRegex = /^[a-zA-Z']+([\\s'][a-zA-Z']+){0,2}$/;
    var cognomeRegex = /[a-zA-Z\\s']{1,50}/;

    // Validazione dell'email
    if (!emailRegex.test(emailInput.value)) {
        emailError.innerHTML = 'Formato email non valido';
    } else {
        emailError.innerHTML = '';
    }

    // Validazione del nome
    if (!nomeRegex.test(nomeInput.value)) {
        nomeError.innerHTML = 'Formato nome non valido';
    } else {
        nomeError.innerHTML = '';
    }

    // Validazione del cognome
    if (!cognomeRegex.test(cognomeInput.value)) {
        cognomeError.innerHTML = 'Formato cognome non valido';
    } else {
        cognomeError.innerHTML = '';
    }

    // Restituisci true solo se tutte le verifiche sono passate
    return emailError.innerHTML === '' && nomeError.innerHTML === '' && cognomeError.innerHTML === '';
}

 
 //Svuota i campi del form al ricarimento della pagina
  // Stato iniziale del form
var initialFormState = {
    nome: '',
    cognome: '',
    telefono: '',
    email: ''
    // Aggiungi altri campi del form secondo necessità
};

window.onload = function() {
    // Carica lo stato iniziale quando la pagina viene caricata
    loadFormState(initialFormState);
};

function loadFormState(state) {
    // Ottieni tutti gli elementi di input del form
    var inputElements = document.getElementsByTagName('input');

    // Imposta i valori dei campi di input secondo lo stato fornito
    for (var i = 0; i < inputElements.length; i++) {
        if (inputElements[i].type !== 'submit' && inputElements[i].type !== 'reset') {
            inputElements[i].value = state[inputElements[i].name] || '';
        }
    }
}

function clearFormFields() {
    // Svuota i campi del form allo stato iniziale
    loadFormState(initialFormState);

    // Impedisci il ripristino predefinito del browser dopo il reset
    return false;
}

</script>



</head>

<body>
  <!-- Logo e pulsanti -->
  <div class="container-fluid bg-dark p-2 mx-auto">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8 logo">
          <a th:href="@{/}"><img th:src="@{/images/logo.png}" alt="Logo"></a>
         
        </div>
        <div class="col-md-4 mx-auto">
          <!-- Pulsanti -->
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <a th:href="@{/info}"><button class="btn btn-outline-secondary mr-2">Chi Siamo</button></a>
            <a th:href="@{/form}"><button class="btn btn-outline-secondary mr-2">Ricerca</button></a>
          </div>
            <!--<a th:href="@{/form}"><button class="btn btn-outline-secondary">Ricerca</button></a>-->
          </div>
        </div>
      </div>
    </div>
  </div>

 
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid">
    <!-- Pulsante per mobile -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Elementi della navbar -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/}">Home</a>
        </li>
        
        <!-- parte dinamica -->
        <li class="nav-item" th:each="categoria : ${categorie}">
          <a class="nav-link" th:text="${#strings.capitalize(categoria.nomeCategoria)}"
            th:href="@{'/form/cerca?marca=&categoria='+${categoria.idCategoria}}"></a>

          <ul class="sottomenu1" th:if="${categoria.nomeCategoria == 'chitarre'}">
            <li th:each="sottocategoria : ${sottocategorieChitarre}">
              <a th:text="${#strings.capitalize(sottocategoria.nomeSottocategoria)}"
                th:href="@{'/form/cerca?marca=&categoria=1&sottocategoria='+${sottocategoria.idSottocategoria}}"></a>
            </li>
          </ul>

          <ul class="sottomenu1" th:if="${categoria.nomeCategoria == 'tastiere'}">
            <li th:each="sottocategoria : ${sottocategorieTastiere}">
              <a th:text="${#strings.capitalize(sottocategoria.nomeSottocategoria)}"
                th:href="@{'/form/cerca?marca=&categoria=2&sottocategoria='+${sottocategoria.idSottocategoria}}"></a>
            </li>
          </ul>

          <ul class="sottomenu1" th:if="${categoria.nomeCategoria == 'archi'}">
            <li th:each="sottocategoria : ${sottocategorieArchi}">
              <a th:text="${#strings.capitalize(sottocategoria.nomeSottocategoria)}"
                th:href="@{'/form/cerca?marca=&categoria=3&sottocategoria='+${sottocategoria.idSottocategoria}}"></a>
            </li>
          </ul>

          <ul class="sottomenu1" th:if="${categoria.nomeCategoria == 'percussioni'}">
            <li th:each="sottocategoria : ${sottocategoriePercussioni}">
              <a th:text="${#strings.capitalize(sottocategoria.nomeSottocategoria)}"
                th:href="@{'/form/cerca?marca=&categoria=4&sottocategoria='+${sottocategoria.idSottocategoria}}"></a>
            </li>
          </ul>

          <ul class="sottomenu1" th:if="${categoria.nomeCategoria == 'fiati'}">
            <li th:each="sottocategoria : ${sottocategorieFiati}">
              <a th:text="${#strings.capitalize(sottocategoria.nomeSottocategoria)}"
                th:href="@{'/form/cerca?marca=&categoria=5&sottocategoria='+${sottocategoria.idSottocategoria}}"></a>
            </li>
          </ul>
        </li>
        
        <!-- fine parte dinamica | continua il menu -->
        
        <li class="nav-item">
          <a class="nav-link" th:href="@{/form/cerca?condizione=usato}">Usato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/form/cerca?condizione=nuovo}">Novità</a>
        </li>
      </ul>
    </div>
  </nav>

<!-- fascia superiore grigia -->
  <div class="container-fluid justify-content-center">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 hidden-sm fascia-top text-center">
        <span class="setup"></span>
      </div>
    </div>
  </div>

<!-- container per card + form -->
<div class="container mx-auto">
  <div class="container mt-5 mb-5">
    <div class="card dettaglio col-md-10 mx-auto">
		<!--CARD UNICA-->
		<div class="row">
			<!-- card -->
            <div class="col-md-4 mx-auto">
                <div class="prenota card mx-auto">
                   <img th:src="@{'/images/'+${prodotto.idProdotto}+'.png'}" alt="${prodotto.nomeProdotto}" class="card-img img-fluid">                                         

                <div class="card-body">
                    <h5 th:text="${prodotto.nomeProdotto}" class="card-title"></h5>
                    <h6 class="sottocategoria "th:utext="${prodotto.sottocategoria.nomeSottocategoria}"></h6>
                    <!--MARCA-->
			<div style="display: flex; flex-direction: row; ">
				<div class="marca">  Marca:</div>
				<div  th:text="${prodotto.marca.nomeMarca}"></div>
			</div>
			<!--CONDIZIONI-->
			<div style="display: flex; flex-direction: row;">
				<div class="condizioni">   Condizioni:</div>
					<div th:text="${prodotto.condizione}"></div>
			</div>
			<!--DISPONIBILITà-->
			<div  style="display: flex; flex-direction: row;">
				<div class="disponibilita">Disponibilità:</div>
				<div th:text="${prodotto.disponibilita}"></div>
			</div>

<div class="card-footer">
                    <!-- Mostra il prezzo barrato -->
 <div class="prezzo" th:if="${prodotto != null}">
        <th:block th:if="${prodotto.sconto != 0}">
           <del class="sconto" th:text="'€ '+ ${#numbers.formatDecimal(prodotto.prezzo,0,'POINT',2,'COMMA')} "></del> 
            <div class="prezzo" th:text="'€ ' + ${#numbers.formatDecimal(prodotto.prezzo - (prodotto.prezzo * prodotto.sconto), 0, 'POINT', 2, 'COMMA')}"></div>  <!-- prezzo aggiornato -->  
        </th:block>
        <th:block th:unless="${prodotto.sconto != 0}">
            <div th:text="'€ '+  ${#numbers.formatDecimal(prodotto.prezzo,0,'POINT',2,'COMMA')} ">
        </th:block>
    </div>
</div>
</div></div>
        </div>
      
        <!-- contenitore form-->    
        <div class="col-md-8 mx-auto bordo-form"> <!-- th:action="@{/prenotazione(id=${prodotto.idProdotto})}"  -->
			<form id="form mx-auto"  name="modulo" method="post"  th:object="${utente}" onreset="return clearFormFields()" onsubmit="return validate()">
				<fieldset class="mx-auto">
				<legend class="mx-auto">Prenotazione</legend>
				
				<div class="row mb-2 descrizione-form mx-auto">Inserisci i tuoi dati e prenota un appuntamento per provare i nostri strumenti!<br></div>
				
	<div class="row mb-3 mx-auto campi-form">
		<label for="inputEmail3" class="col-sm-2 col-form-label">Nome:</label> 
		<div class="col-sm-10">
			<input type="text" name="nome" class="input-cornice" size="20" th:field="*{nome}" required>
			<p id="nomeError" style="color: red;"></p> <!--Scusate frontendiste, è solo per la prova-->
        </div>

<label for="inputEmail3" class="col-sm-2 col-form-label">Cognome:</label>				
<div class="col-sm-10 nome">
					<input type="text" name="cognome" class="input-cornice" size="15" th:field="*{cognome}" required>
            	<p id="cognomeError" style="color: red;"></p>
</div>

<label for="inputEmail3" class="col-sm-2 col-form-label">Telefono: </label>
            	<div class="col-sm-10 nome">
            	<input type="tel" name="telefono" class="input-cornice" size="15" maxlength="15" minlength="5" th:field="*{telefono}" pattern="[0-9]+" required>
            	<p id="telefonoError" style="color: red;"></p>
            	</div>
            	
<label for="inputEmail3" class="col-sm-2 col-form-label">Email: </label>
<div class="col-sm-10 nome">
<input type="email" name="email" class="input-cornice" size="15" th:field="*{email}" required>
            	<p id="emailError" style="color: red;"></p> 
            	</div>
            </div><!-- chiude campi form-->
        
        	<!--<p th:each="error : ${#fields.errors('*')}" th:text="${error}"></p>-->
        	<div class="torna btn-group mx-auto">
        		<input type="reset" name="button" value="Resetta campi" onclick="clearFormFields()" class="button btn">
            	<input type="submit" value="Prenota"  class="button btn"></input>
        	</div><!-- chiude div button-->  
          </fieldset>
</form>
</div><!-- chiude contenitore form-->            	
	
			<div class="indietro-dettagli"><a th:href="@{/prenotazione(id=${prodotto.idProdotto})}"><button class="btn button">Torna indietro</button></a>
			</div>

 
<div th:if="${appointmentReceived}">
	<!-- Ottenere la data successiva, gestendo la domenica -->
	<!-- Aggiunge un giorno alla data odierna -->
	<th:block th:with="today=${T(java.time.LocalDate).now()}, nextDay=${(today.getDayOfWeek() == T(java.time.DayOfWeek).SUNDAY) ? today.plusDays(1) : today.plusDays(1)}">
	<p th:text="'Grazie, ' + ${#strings.capitalize(utente.nome)} + ' ' + ${#strings.capitalize(utente.cognome)} + '! Ti abbiamo riservato un appuntamento in negozio ' +${#temporals.format(nextDay, 'EEEE')}+' '+ ${#temporals.format(nextDay, 'dd-MM-yyyy')} +' alle ore '+${#temporals.format(orarioCasuale, 'HH:mm')}"></p>
	<p th:text="'Ti aspettiamo da Music.toString() in  Via Roma 34, Pompei. Per disdire o per spostare la tua prenotazione, chiama in negozio.'"> </p>
	</th:block>
</div>
</div>
</div>
 </div><!-- chiude row card -->
</div>
</div>
</div>
</div>

  
 <!-- footer -->
  <!-- banner -->
  <div class="container-fluid footer">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 hidden-sm fascia-bot text-center">
          <div class="setup">
            <img class="setup-icons" th:src="@{/images/icon-setup.png}" alt="setup">SETUP GRATUITO</div>
          <div class="setup">
            <img class="setup-icons" th:src="@{/images/icon-prenota2.png}" alt="consulenza">PRENOTA UNA CONSULENZA</div>
          <div class="setup">
            <img class="setup-icons" th:src="@{/images/icon-esperienza.png}" alt="esperienza">24 ANNI DI ESPERIENZA</div>
        </div>
      </div>
    </div>
  </div>
  <!-- vero e proprio footer -->
   <footer class="container-fluid mt-2 d-flex text-white">
    <div class="row piede mx-auto">
      <div class="col-md-3 piede_item">
        <h5>INFORMAZIONI</h5>
        <ul>
          <li><a th:href="@{/info}">Chi siamo</a></li>
          <li><a th:href="@{/info}">Dove siamo</a></li>
          <li><a href="#">Orari</a></li>
          <li><a href="#">Contatti</a></li>
          <li><a href="#">Marche</a></li>                   
        </ul>
      </div>
      <div class="col-md-3 piede_item">
        <h5>NAVIGAZIONE</h5>
        <ul>
          <li><a th:href="@{/}">Home Page</a></li>
          <li><a th:href="@{/form/cerca}">Ricerca</a></li>
          <li><a th:href="@{/form/cerca?condizione=nuovo}">Novità</a></li>
          <li><a th:href="@{/form/cerca?condizione=usato}">Mercatino dell'usato</a></li>
          <li><a href="#">Promozioni</a></li>
        </ul>
      </div>
      <div class="col-md-3 piede_item">
        <h5>ACQUISTI</h5>
        <ul>
          <li><a href="#">Resi</a></li>
          <li><a href="#">Rimborsi</a></li>
          <li><a href="#">Assistenza</a></li>
          <li><a href="#">Spedizioni</a></li>
          <li><a href="#">Account</a></li>
        </ul>
      </div>
      <div class="col-md-3 piede_item">
          <h5>SOCIAL</h5>
          <div class="row">
            <div class="col-md-12 social-icons">
				
			<a href="#"><img th:src="@{/images/facebook-icon.png}"  alt="Facebook"  height="100px"></a>
            <a href="#"><img th:src="@{/images/instagram-icon.png}" alt="Instagram" height="100px" /></a>
            <a href="#"><img th:src="@{/images/youtube-icon.png}" alt="Youtube" height="100px" /></a>
            <a href="#"><img th:src="@{/images/tiktok-icon.png}" alt="Tik-Tok" height="100px" /></a>
            
            </div>
          </div>
      </div>
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  
  <script>
    $(document).ready(function(){
      $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        autoplay: true, //attivazione dell'autoplay
        autoplayTimeout: 3000, // tempo di attesa tra uno scorrimento e l'altro (in millisecondi)
        responsive: {
          0: {
            items: 1
          },
          600: {
            items: 2
          },
          1000: {
            items: 4
          }
        }
      });
    });

  </script>
</body>
</html>
