<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dettagli Prodotto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link th:href="@{css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Dettagli Prodotto</h2>
        <table class="table">
            <thead>
                <tr>
					<th>Immagine</th>
                    <th>ID</th>
                    <th>Prodotto</th>
                    <th>Disponibilità</th>
                    <th>Marca</th>
                    <th>Prezzo</th>
                    <th>Sconto</th>
                    <th>Descrizione</th>
                    
                    
                    
                </tr>
            </thead>
            <tbody>
                <tr >
					 
					<td> <img th:src="@{'/images/'+${prodotto.idProdotto}+'.png'}" height="100px"></td>
                    <td th:text="${prodotto.idProdotto}"></td>
                    <td th:text="${prodotto.nomeProdotto}"></td> 
                    <td th:text="${prodotto.disponibilita}"></td>
                    <td th:text="${prodotto.marca.nomeMarca}"></td>
                   <td th:if="${prodotto != null}" th:text="${#numbers.formatDecimal(prodotto.prezzo,0,'POINT',2,'COMMA')}"></td> 
                   <td th:text="${prodotto.sconto}"></td>
                    <td th:text="${prodotto.descrizione}"></td>
                   
                </tr>
            </tbody>
        </table>
        <a th:href="@{/}" class="btn btn-primary">Torna alla Homepage</a>
    </div>
</body>
</html>
