<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
    
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/index.css" />
  <title>Music.toString() | HomePage</title>
  <link rel="icon" type="image/x-icon" href="../static/images/icona-browser.png"> <!-- icona browser -->

 <!-- script file -->
  <script th:src="@{/js/index.js}"></script>
  
  <!-- JS per imm dinamiche -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  

    <!-- JS per scroll navbar top -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
          var navbar = $(".navbar");
  
          $(window).scroll(function () {
              if ($(this).scrollTop() > 50) {
                  navbar.addClass("fixed-top");
              } else {
                  navbar.removeClass("fixed-top");
              }
          });
      });
  </script>

</head>

<body class="d-flex flex-column min-vh-100">
  <!-- Logo e pulsanti -->
  <div class="container-fluid bg-dark p-2 mx-auto">
    <div class="container mx-auto">
      <div class="row align-items-center">
        <div class="col-md-8 logo">
          <img th:src="@{/images/logo.png}" alt="Logo">
        </div>
        <div class="col-md-4 mx-auto">
          <!-- Pulsanti -->
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <!--<button class="btn btn-outline-secondary mr-2">Accedi</button>
            <button class="btn btn-outline-secondary mr-2">Registrati</button>-->
          </div>
            <a th:href="@{/form}"><button class="btn btn-outline-secondary">Ricerca</button></a>
        </div>
      </div>
    </div>
  </div>

<!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid">
    <!-- Pulsante per mobile -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Elementi della navbar -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/}">Home</a>
        </li>
        
        <!-- parte dinamica -->
        <li class="nav-item" th:each="categoria : ${categorie}">
          <a class="nav-link" th:text="${#strings.capitalize(categoria.nomeCategoria)}"
            th:href="@{'/form/cerca?marca=&categoria='+${categoria.idCategoria}}"></a>

          <ul class="sottomenu1" th:if="${categoria.nomeCategoria == 'chitarre'}">
            <li th:each="sottocategoria : ${sottocategorieChitarre}">
              <a th:text="${#strings.capitalize(sottocategoria.nomeSottocategoria)}"
                th:href="'#'+${sottocategoria.idSottocategoria}"></a>
            </li>
          </ul>

          <ul class="sottomenu1" th:if="${categoria.nomeCategoria == 'tastiere'}">
            <li th:each="sottocategoria : ${sottocategorieTastiere}">
              <a th:text="${#strings.capitalize(sottocategoria.nomeSottocategoria)}"
                th:href="'#'+${sottocategoria.idSottocategoria}"></a>
            </li>
          </ul>

          <ul class="sottomenu1" th:if="${categoria.nomeCategoria == 'archi'}">
            <li th:each="sottocategoria : ${sottocategorieArchi}">
              <a th:text="${#strings.capitalize(sottocategoria.nomeSottocategoria)}"
                th:href="'#'+${sottocategoria.idSottocategoria}"></a>
            </li>
          </ul>

          <ul class="sottomenu1" th:if="${categoria.nomeCategoria == 'percussioni'}">
            <li th:each="sottocategoria : ${sottocategoriePercussioni}">
              <a th:text="${#strings.capitalize(sottocategoria.nomeSottocategoria)}"
                th:href="'#'+${sottocategoria.idSottocategoria}"></a>
            </li>
          </ul>

          <ul class="sottomenu1" th:if="${categoria.nomeCategoria == 'fiati'}">
            <li th:each="sottocategoria : ${sottocategorieFiati}">
              <a th:text="${#strings.capitalize(sottocategoria.nomeSottocategoria)}"
                th:href="'#'+${sottocategoria.idSottocategoria}"></a>
            </li>
          </ul>
        </li>
        
        <!-- fine parte dinamica | continua il menu -->
        
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}">Usato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}">Novità </a>
        </li>
      </ul>
    </div>
  </nav>

<!-- fascia superiore grigia -->
  <div class="container-fluid justify-content-center">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 hidden-sm fascia-top text-center">
        <span class="setup"></span>
      </div>
    </div>
  </div>

<!--DIV CON IMMAGINE-->
<div class="container mx-auto">
  <div class="container text-center mt-5 mb-5">
    <div class="row">
        <div class="col-5">
       
        <img class="card-img-top" th:src="@{'/images/'+${prodotto.idProdotto}+'.png'}" >  
        </div>
        
        <!--INIZIO NOME E DESCRIZIONE PRODOTTO-->
<div class="col-7">
	<div class="card-body"> <!--NOME-->
		<h4 class="card-title nomeprodotto" th:text="${prodotto.nomeProdotto}"></h4> 
              <!--<p th:text="${prodotto.sconto}"></p> -->
              <!--SOTTOCATEGORIA-->
		<h5 class="sottocategoria "th:utext="${prodotto.sottocategoria.nomeSottocategoria}"></h5> 

		<div style="display: flex; flex-wrap: nowrap; flex-direction: column; align-items: center;">
			<!--MARCA-->
			<div  style="display: flex; flex-direction: row; ">
				<h5 class="marca" style="margin-right:5px">  Marca:</h5>
				<div th:text="${prodotto.marca.nomeMarca}"></div>
			</div>
			<!--CONDIZIONI-->
			<div style="display: flex; flex-direction: row;">
				<h5 class="condizioni" style="margin-right: 5px;">   Condizioni:</h5>
					<div th:text="${prodotto.condizione}"></div>
			</div>
			<!--DISPONIBILITà-->
			<div  style="display: flex; flex-direction: row;">
				<h5 class="disponibilita" style="margin-right:5px;">Disponibilità:</h5>
				<div th:text="${prodotto.disponibilita}"></div>
			</div>
			<!--DESCRIZIONE-->
			<p class="descrizione" th:utext="${#strings.replace(prodotto.descrizione, '\n', '<br>')}"></p> 
	</div> 
</div>   

<div class="card-footer">
    <hr class="hr" />
    <div class="card-title lead" th:if="${prodotto != null}">
        <th:block th:if="${prodotto.sconto != 0}">
            <del th:text="${#numbers.formatDecimal(prodotto.prezzo,0,'POINT',2,'COMMA')} + '€'"></del> 
            <span th:text="${#numbers.formatDecimal(prodotto.prezzo - (prodotto.prezzo * prodotto.sconto), 0, 'POINT', 2, 'COMMA')} + '€'"></span>  <!-- prezzo aggiornato -->
            <span th:text="'(' + ${#numbers.formatDecimal((prodotto.sconto*100),0,'POINT',0,'COMMA')} + '%)'"></span>
        </th:block>
        <th:block th:unless="${prodotto.sconto != 0}">
            <span th:text="${#numbers.formatDecimal(prodotto.prezzo,0,'POINT',2,'COMMA')} + '€'"></span>
        </th:block>
    </div>
    <a th:href="@{/prenotazione(id=${prodotto.idProdotto})}"><button class="btn btn-lg mt-3 button">Prenota</button></a>
</div>
            
        </div>
      
    </div>
  </div>
 </div>
  
  <!-- footer -->
  <!-- banner -->
  <div class="container-fluid footer">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 hidden-sm fascia-bot text-center">
          <div class="setup">
            <img class="setup-icons" th:src="@{/images/icon-setup.png}" alt="setup">SETUP GRATUITO</div>
          <div class="setup">
            <img class="setup-icons" th:src="@{/images/icon-prenota2.png}" alt="consulenza">PRENOTA UNA CONSULENZA</div>
          <div class="setup">
            <img class="setup-icons" th:src="@{/images/icon-esperienza.png}" alt="esperienza">24 ANNI DI ESPERIENZA</div>
        </div>
      </div>
    </div>
  </div>
  <!-- vero e proprio footer -->
   <footer class="container-fluid mt-2 d-flex text-white">
    <div class="row piede mx-auto">
      <div class="col-md-3 piede_item">
        <h5>INFORMAZIONI</h5>
        <ul>
          <li><a th:href="@{/info}">Chi siamo</a></li>
          <li><a th:href="@{/info}">Dove siamo</a></li>
          <li><a href="#">Orari</a></li>
          <li><a href="#">Contatti</a></li>
          <li><a href="#">Marche</a></li>                   
        </ul>
      </div>
      <div class="col-md-3 piede_item">
        <h5>NAVIGAZIONE</h5>
        <ul>
          <li><a th:href="@{/}">Home Page</a></li>
          <li><a th:href="@{/form/cerca}">Ricerca</a></li>
          <li><a th:href="@{/form/cerca?condizione=nuovo}">Novità</a></li>
          <li><a th:href="@{/form/cerca?condizione=usato}">Mercatino dell'usato</a></li>
          <li><a href="#">Promozioni</a></li>
        </ul>
      </div>
      <div class="col-md-3 piede_item">
        <h5>ACQUISTI</h5>
        <ul>
          <li><a href="#">Resi</a></li>
          <li><a href="#">Rimborsi</a></li>
          <li><a href="#">Assistenza</a></li>
          <li><a href="#">Spedizioni</a></li>
          <li><a href="#">Account</a></li>
        </ul>
      </div>
      <div class="col-md-3 piede_item">
          <h5>SOCIAL</h5>
          <div class="row">
            <div class="col-md-12 social-icons">
				
			<a href="#"><img th:src="@{/images/facebook-icon.png}"  alt="Facebook"  height="100px"></a>
            <a href="#"><img th:src="@{/images/instagram-icon.png}" alt="Instagram" height="100px" /></a>
            <a href="#"><img th:src="@{/images/youtube-icon.png}" alt="Youtube" height="100px" /></a>
            <a href="#"><img th:src="@{/images/tiktok-icon.png}" alt="Tik-Tok" height="100px" /></a>
            
            </div>
          </div>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
</body>
</html>
