<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Lista e Form di prova</title>
</head>

<body>
	
	<div>
	<h2>Ricerca Prodotti per Nome</h2>
    <form action="/formprova" method="get">
        <label for="nomeProdotto">Nome Prodotto:</label>
        <input type="text" id="nomeProdotto" name="nomeProdotto" />
        <button type="submit">Cerca</button>
    </form>
</div>

<div th:each="art: ${prodotti}">
	<h3 th:text="${art.nome_prodotto}"></h3>
	<p th:text="${art.descrizione}"></p>
</div>

</body>

</html>