<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap-5.3.2-dist/css/bootstrap.css"/>
</head>
<body>
    <div class="container">
        <header class="container">
            <!--logo + carrello (icona) + login e ricerca-->
        </header>
            <nav class="navbar navbar-expand-lg fixed-top container">
                <a class="navbar-brand" href="index.html"><!--navbar-brnd: classe di bootstrap dedicata alle immagini dei loghi per la navbar--> 
                    Home Page
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mianav">
                        
                    <span class="navbar-toggler-icon"></span><!--disegno il tipico pulsante-->
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="mianav">
                    
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="#">Chitarre</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Tastiere</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Archi</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Percussioni</a></li>  
                        <li class="nav-item"><a class="nav-link" href="#">Flauti</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Usato</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Sconti</a></li>
                    </ul>
                </div>
            </nav>
            <!--immagini dinamiche-->
            <div class="immagini"> <!--tutte le immagini-->

            </div>
        
        <footer class="container">
            <div class="piede">
                <h5>INFORMAZIONI</h5>
                <ul>
                    <li><a href="#">Chi siamo</a></li>
                    <li><a href="#">Contatti</a></li>
                    <li><a href="#">Marche</a></li>
                    <li><a href="#">Dove siamo</a></li>
                    <li>Orari</li>
                </ul>
            </div> <!--informazioni-->
            <div>
                <h5>NAVIGAZIONE</h5>
                <ul>
                    <li><a href="#">Home Page</a></li>
                    <li><a href="#">Ricerca</a></li>
                    <li><a href="#">Novità</a></li>
                    <li><a href="#">Mercatino dell'usato</a></li>
                    <li><a href="#">Promozioni</a></li>
                </ul>
            </div> <!--navigazione-->
            <div>
                <h5>ACQUISTI</h5>
                <ul>
                    <li><a href="#">Resi</a></li>
                    <li><a href="#">Rimborsi</a></li>
                    <li><a href="#">Assistenza</a></li>
                    <li><a href="#">Spedizioni</a></li>
                    <li><a href="#">Account</a></li>
                </ul>
            </div> <!--acquisti-->
            <div>
                <h5>SOCIAL</h5>
                <a href="#"><img src=""/></a>
                <a href="#"><img src=""/></a>
                <a href="#"><img src=""/></a>
                <a href="#"><img src=""/></a> <!--fb, instagram, youtube, tiktok-->
            </div> <!--social + icone-->
        </footer>

    </div> <!--chiudo container-->
</body>
</html>